@import './../../scss/variables';

.headerCart{
  display: flex;

  justify-content: center;
  align-items: center;
  
  background-color: $orange;
  border-radius: 2em;
  
  height: 3em;
  .buttonCart{
    display: flex;
    
    padding: .7em 1.3em;
    
    span{
      color: #fff;
      
      margin: auto;

      font-weight: 600;
    }

    .delimiter{
      width: 1px;
    
      background-color: $gray-line;
    
      margin: 0 .5em;
    }
  }
}